section.list h1 {
    text-align: center;
    margin-top: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0e36c9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0e36c9;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #0e36c9;
}

.btn-create {
    background-color: #0e36c9;
    color: #fff;
    padding: 5px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 19px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}