section.banner {
    margin: 20px 0;
}

section.banner .img-banner {
    width: 100%;
}

section.top-products {
    margin-bottom: 40px;
}

section.top-products h2.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

section.top-products .items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.top-products .items .item {
    min-width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 22%;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: -2px 5px 38px -13px rgba(171, 171, 171, 0.75);
    -webkit-box-shadow: -2px 5px 38px -13px rgba(171, 171, 171, 0.75);
    -moz-box-shadow: -2px 5px 38px -13px rgba(171, 171, 171, 0.75);
}

section.top-products .items .item .product-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

section.top-products .items .item .discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

section.top-products .items .item .price .old {
    color: #ccc;
    text-decoration: line-through;
}

section.top-products .items .item .price .new {
    color: #0e36c9;
    font-weight: bold;
}

section.top-products .items .item .content {
    padding: 10px;
}

section.top-products .items .item .content .category {
    text-align: center;
    font-weight: 300;
}

section.top-products .items .item .content h5.name {
    text-align: center;
    font-size: 24px;
}

section.top-products .items .item .content p.price {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #0e36c9;
}

section.top-products .items .item .content .btn-buy {
    background-color: #0e36c9;
    color: #fff;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: all .1s ease;
    border: 1px solid #fff;
}

section.top-products .items .item .content .btn-buy:hover {
    background-color: #fff;
    color: #0e36c9;
    border: 1px solid #0e36c9;
}

section.top-products .items .item .content .btn-product {
    background-color: #fff;
    color: #0e36c9;
    border: 1px solid #0e36c9;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: all .1s ease;
}

section.top-products .items .item .content .btn-product:hover {
    background-color: #0e36c9;
    color: #fff;
    border: 1px solid #fff;
}